/*paleta*/
$rojo: #EB312A;

@font-face {
  font-family: 'HCond';
  src: url('fonts/HelveticaNeueLTStd-BdCn.eot');
  src: url('fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
       url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
       url('fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
       url('fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg'),
       url('fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-size: 18px;
    color: #FFF;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 300;
    
    @media (max-width: 768px) {
        font-size: 16px;
    }
    @media only screen and (max-device-width: 768px) {
        font-size: 16px;
    }
}

p, button, li, a {
	font-size: 1em;
	font-weight:400;
    font-family: "Helvetica Neue";
}
h1, h2, h3, h4, h5, h6, p, button, li, a, span { 
    &::selection {
        color: #FFF;
        background-color: $rojo;
    }
    &::-moz-selection {
        color: #FFF;
        background-color: $rojo;
    }
}
a {
    text-decoration-skip: ink;
    &:hover, &:focus {
        text-decoration-skip: ink;
    }
}
h1 {
    font-family: "HCond";
    font-size: 4.09em;
    text-transform: uppercase;
    color: #FFF;
    line-height: .98;
    span {
        color: $rojo;
        display: inline;
    }
    @media (max-width: 768px) {
        font-size: 2em;
    }
    @media only screen and (max-device-width: 768px) {
        font-size: 2em;
    }
}
ul, nav {
    margin: 0;
    padding: 0;
}
