/*paleta*/
$rojo: #EB312A;

/*importaciones*/
@import "fonts";
@import "fix";
/*mixins*/
@mixin cursor {
    cursor: url("img/cursor.png"), auto;
}
@mixin cursor-inv {
    cursor: url("img/cursor-inv.png"), auto;
}
@mixin transicion-ninpo {
  -webkit-transition: all 400ms cubic-bezier(1.000, 0, 0.000, 0.970); /* older webkit */
-webkit-transition: all 400ms cubic-bezier(1.000, -0.085, 0.000, 0.970); 
   -moz-transition: all 400ms cubic-bezier(1.000, -0.085, 0.000, 0.970); 
     -o-transition: all 400ms cubic-bezier(1.000, -0.085, 0.000, 0.970); 
        transition: all 400ms cubic-bezier(1.000, -0.085, 0.000, 0.970); /* custom */
}
.no-opacity {
    opacity: 0; 
}
.fullopacity {
    opacity: 1!important;
}
/*test ck3*/
body {
    background-color: #000!important;
}
body.modal-open {
    overflow: hidden!important;
    position:fixed;
    width: 100%;
}

.modal {
    color: #000;
    h4, p {
        color: #000;
    }
}
#header {
    padding-top: 18px;
    padding-bottom: 18px;
    position: fixed;
    z-index: 999!important;
    color: #FFF;
    width: 100%;
    @include transicion-ninpo;
    button {
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
    }
}
#header.in-modal {
    position: relative;
    float: left;
    
}
#footer-slide {
    position: fixed;
    z-index: 999!important;
    color: #FFF;
    left: 0;
    bottom: 38px;
    p {
        a {
            text-decoration: underline;
            color: #FFF;
            font-size: 0.7em;
            text-decoration-skip: ink;
        }
    }
}
.caja {
    display: block;
    width: 100%;
    height: 100vh;
    /*@include cursor;*/
    h1 {
        a {
            margin-left: -6px;
        }
    }
}

@-webkit-keyframes scroll-bounce {
    0% {
        -webkit-transform: translateY(-100%) scaleY(0);
        transform: translateY(-100%) scaleY(0);
    }
    60% {
        -webkit-transform: translateY(-50%) scaleY(1);
        transform: translateY(-50%) scaleY(1);
    }
    80% {
        -webkit-transform: translateY(0) scaleY(0);
        transform: translateY(0) scaleY(0);
    }
    100% {
        -webkit-transform: translateY(-100%) scaleY(0);
        transform: translateY(-100%) scaleY(0);
    }
}
@keyframes scroll-bounce {
    0% {
        -webkit-transform: translateY(-100%) scaleY(0);
        transform: translateY(-100%) scaleY(0);
    }
    60% {
        -webkit-transform: translateY(-50%) scaleY(1);
        transform: translateY(-50%) scaleY(1);
    }
    80% {
        -webkit-transform: translateY(0) scaleY(0);
        transform: translateY(0) scaleY(0);
    }
    100% {
        -webkit-transform: translateY(-100%) scaleY(0);
        transform: translateY(-100%) scaleY(0);
    }
}

#welcome {
    position: relative;
    h1 {
        margin-top: 131px;
        margin-left: -4px;
    }
    .caja-linea {
        overflow: hidden;
        height: 40px;
        position: absolute;
        bottom: 30px;
        left: 30px;
        opacity: 0;
        @include transicion-ninpo;
        img {
            float: left;
            margin-left: 9px;
            line-height: 1;
        }
    }
    .linea {
        width: 1px;
        background-color: #FFF;
        width: 1px;
        height: 40px;
        float: left;
        margin-top: 20px;

        padding: 0;

        -webkit-animation-name: scroll-bounce;
        animation-name: scroll-bounce;

        -webkit-animation-duration: 2s;
        animation-duration: 2s;

        -webkit-transition-timing-function: cubic-bezier(.37,.01,0,.98);
        transition-timing-function: cubic-bezier(.37,.01,0,.98);

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        
        
    }
}

.seccion-home {
    padding-top: 131px;
    padding-bottom: 44px;
    position: relative;
    overflow: hidden;
    @media (max-width: 991px) {
        padding-top: 52px;
    }
    @media only screen and (max-device-width: 991px) {
        padding-top: 52px;
    }
    
    h1 {
        margin-left: -4px;
        margin-bottom: 29px;
    }
    h2 {
        font-size: 1.5em;
        color: #FFFFFF;
        line-height: 1.4em;
        font-weight: 400;
    }
    .sub-hidden {
        margin-bottom: 20px;
    }
    .bbw {
        .box {
            border-bottom: 1px solid #FFF;
        }
        h2 {
            width: 41%;
            margin-bottom: 44px;
            margin-top: 73px;
        }
    }
    .enter-project {
        width: 445px;
        height: 112px;
        padding-top: 30px;
        position: absolute;
        bottom: -67px;
        right: 0;
        transform: rotate(90deg) translate(0, -101%);
        transform-origin: 100% 0;
        background-color: $rojo;
        color: #FFF;
        font-family: "HCond";
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        @include transicion-ninpo;
        &:hover, &:focus {
            text-decoration: none;
        }
        @media (max-width: 991px) {
            display: none;
            visibility: hidden;
        }
        @media only screen and (max-device-width: 991px) {
            display: none;
            visibility: hidden;
        }
    }
    .hidden-enter-project {
        width: 100%;
        float: left;
        height: 56px;
        padding-top: 15px;
        background-color: $rojo;
        color: #FFF;
        font-family: "HCond";
        font-size: 1em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        text-decoration: none;
    }
    &:hover {
        .enter-project {
            @include transicion-ninpo;
            transform: rotate(90deg) translate(0, 0);
        }
    }
}
.section {
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
        width: 26px;
        height: 26px;
        border: 0;
    }
    .fp-controlArrow.fp-next{
        background: url(img/ico-next.svg) left center no-repeat;
    }
    .fp-controlArrow.fp-prev{
        background: url(img/ico-prev.svg) left center no-repeat;
    }
}
.info {
    margin-bottom: 20px;
    p {
        opacity: .7;
    }
}
.slide {
    h1 {
        margin-top: 61px;
        margin-bottom: 29px;
        margin-left: -4px;
    }
    .content{
        p {
            font-size: 1.1em;
            margin-bottom: 60px;
        }
    }
}
#iact {
    #slide1 {
        background-image: url(img/Poster-MockUp-Vert-and-Horiz.jpg);
        @include cover;
        
    }
    #slide3 {
        background-image: url(img/iactworkshop.jpg);
        @include cover;
        
    }
}
//modal
#flip {
    .modal-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        button {
            border: 0;
        }
    }
    .modal-body {
        .wrapper {
            position: relative;
            float: left;
            min-height: 100vh;
            height: auto;
            padding-top: 12vh;
        }
        .about, .contact {
            margin-bottom: 50px;
            h2, p {
                font-size: 1.55em;
                a {
                    color: #1A1A1A;
                    text-decoration: underline;
                }
            }
            h2 {
                margin-bottom: 55px;
            }
        }
        .item-persona {
            margin-bottom: 60px;
            min-height: 400px;
            img {
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                color: #1A1A1A;
                margin-bottom: 50px;
            }
            a {
                text-decoration: underline;
                font-weight: 600;
                color: #1A1A1A;
            }
        }
        
    }

    .caja-linea {
        overflow: hidden;
        height: 40px;
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 999999;

        img {
            float: left;
            margin-left: 9px;
            line-height: 1;
        }
    }
    .linea {
        width: 1px;
        background-color: #1A1A1A;
        width: 1px;
        height: 40px;
        float: left;
        margin-top: 20px;

        padding: 0;

        -webkit-animation-name: scroll-bounce;
        animation-name: scroll-bounce;

        -webkit-animation-duration: 2s;
        animation-duration: 2s;

        -webkit-transition-timing-function: cubic-bezier(.37,.01,0,.98);
        transition-timing-function: cubic-bezier(.37,.01,0,.98);

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        
        
    }
}
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    .modal-content {
        background-color: #E6E6E6;
        padding: 0;
        height: auto;
        min-height: 100%;
        border-radius: 0;
        border: 0;
        box-shadow: 0;
        .modal-header, .modal-body {
            padding: 0;
            margin: 0;
        }
    }
}
